<a href="https://colab.research.google.com/github/savitha14june/redi-web-project/blob/main/homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Exercise 0.

Import pandas (as pd)

In [2]:
import pandas as pd

## Exercise 2.

Create a dataframe from a list (of lists).

*Hint: look at documentation https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html*

In [ ]:
my_data = [[82_000_000, 1.9, "Europe"],
        [ 5_500_000, 1.8, "Europe"]]
my_columns=['population', 'fertility', 'continent']
my_index=['Germany', 'Denmark']

# create dataframe from a list  | YOUR CODE
df = pd.DataFrame(data=my_data, columns=my_columns, index=my_index)
df

         population  fertility continent
Germany    82000000        1.9    Europe
Denmark     5500000        1.8    Europe

## Exercise 2.

Create a dataframe from a dictionary.

In [5]:
data = {'item': ['spam', 'baked beans', 'rosemary', 'spaghetti'],
        'amount': [1, 3, 1.2, 1],
        'unit': ['can', 'can', '100 g', 'pack'],
        'price': [0.99, 1.29, 1.99, 2.49]}

# create dataframe from a dictionary | YOUR CODE
df = pd.DataFrame.from_dict(data)
df

          item  amount   unit  price
0         spam     1.0    can   0.99
1  baked beans     3.0    can   1.29
2     rosemary     1.2  100 g   1.99
3    spaghetti     1.0   pack   2.49

## Exercise 3 / Solve with one-liners

### Exercise 3a: create a dataframe

Go to this website: https://www.gapminder.org/data/

Choose "Population"->"Total population" dataset and download csv "population_total.csv".


Upload it to the notebook content.

### Exercise 3b.

Read the file into a DataFrame

In [6]:
df = pd.read_csv('population_total.csv')
df

,geo,name,1800,1801,1802,1803,1804,1805,1806,1807,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
0,afg,Afghanistan,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3280000,...,124110001.0,124854162.0,125589411.0,126306889.0,126990147.0,127647762.0,128305496.0,128964762.0,129616118.0,130216739.0
1,ago,Angola,1567028,1567028,1567028,1567028,1567028,1567028,1567028,1567028,...,138919849.0,140249378.0,141550054.0,142835147.0,144102524.0,145340832.0,146549586.0,147743369.0,148912810.0,150045574.0
2,alb,Albania,400000,401773,403554,405343,407140,408945,410758,412579,...,1344055.0,1324192.0,1304876.0,1286145.0,1268008.0,1250429.0,1233362.0,1216785.0,1200681.0,1184997.0
3,and,Andorra,2654,2654,2654,2654,2654,2654,2654,2654,...,52781.0,52134.0,51484.0,50843.0,50211.0,49586.0,48973.0,48373.0,47791.0,47222.0
4,are,UAE,40153,40153,40153,40153,40153,40153,40153,40153,...,24075187.0,24298127.0,24521988.0,24747048.0,24973506.0,25201603.0,25431504.0,25663508.0,25897696.0,26134299.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,wsm,Samoa,47300,47292,47284,47276,47268,47260,47252,47244,...,370240.0,371993.0,373663.0,375252.0,376788.0,378279.0,379683.0,381010.0,382317.0,383557.0
191,yem,Yemen,2593000,2593000,2593000,2593000,2593000,2593000,2593000,2593000,...,106510730.0,106998027.0,107459605.0,107895476.0,108308131.0,108699429.0,109068203.0,109414685.0,109738709.0,110035634.0
192,zaf,South Africa,1447911,1453209,1458526,1463862,1469219,1474594,1479989,1485404,...,92399701.0,92635394.0,92860583.0,93085412.0,93300481.0,93502148.0,93695466.0,93893514.0,94101365.0,94314448.0
193,zmb,Zambia,747000,758402,769979,781732,793665,805780,818080,830567,...,61098687.0,61512696.0,61915359.0,62311179.0,62698035.0,63070548.0,63434684.0,63791046.0,64136921.0,64473916.0
194,zwe,Zimbabwe,1085814,1085814,1085814,1085814,1085814,1085814,1085814,1085814,...,36284409.0,36405082.0,36516149.0,36625729.0,36739734.0,36840486.0,36932287.0,37019886.0,37096560.0,37166572.0

## Attention! Recent addition!

As Juan noticed - the csv file that I offered you to work with contains string values that can't be directly casted to integers like '120M', '6.5k', etc.
To process the data and make the numerical value integers use the code snippet below:

In [7]:
# this is a simple function that turnes our strings to integers:
def numerize(x):
  if x[-1:] == 'M':
    x = int(float(x[:-1])*1000000)
  elif x[-1:] == 'B':
    x = int(float(x[:-1])*1000000000)
  elif x[-1:] == 'k':
    x = int(float(x[:-1])*1000)
  else:
    x = int(x)
  return x
# here we using .applymap() method that applies our function to every element of a DataFrame
# pay attention what we applied it to df.iloc[:,1:] - which means all the cells excluyding the first columns with country names
df.iloc[:, 1:] = df.iloc[:, 1:].applymap(numerize)

/tmp/ipython-input-2735220498.py:14: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df.iloc[:, 1:] = df.iloc[:, 1:].applymap(numerize)

ValueError: invalid literal for int() with base 10: 'Afghanistan'

### Exercise 3c.

Display the number of rows and columns

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Columns: 303 entries, geo to 2100
dtypes: float64(100), int64(201), object(2)
memory usage: 461.7+ KB

### Exercise 3d.

Display the first 5 countries in the alphabet.

In [11]:
df.head(5)

,geo,name,1800,1801,1802,1803,1804,1805,1806,1807,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
0,afg,Afghanistan,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3280000,...,124110001.0,124854162.0,125589411.0,126306889.0,126990147.0,127647762.0,128305496.0,128964762.0,129616118.0,130216739.0
1,ago,Angola,1567028,1567028,1567028,1567028,1567028,1567028,1567028,1567028,...,138919849.0,140249378.0,141550054.0,142835147.0,144102524.0,145340832.0,146549586.0,147743369.0,148912810.0,150045574.0
2,alb,Albania,400000,401773,403554,405343,407140,408945,410758,412579,...,1344055.0,1324192.0,1304876.0,1286145.0,1268008.0,1250429.0,1233362.0,1216785.0,1200681.0,1184997.0
3,and,Andorra,2654,2654,2654,2654,2654,2654,2654,2654,...,52781.0,52134.0,51484.0,50843.0,50211.0,49586.0,48973.0,48373.0,47791.0,47222.0
4,are,UAE,40153,40153,40153,40153,40153,40153,40153,40153,...,24075187.0,24298127.0,24521988.0,24747048.0,24973506.0,25201603.0,25431504.0,25663508.0,25897696.0,26134299.0

### Exercise 3e.

Which country had the biggest population in 1920?

In [12]:
df['1920'].max()

463385992

### Exercise 3f.

Find out how many people lived in Cyprus in 2000?

In [26]:
df.loc[(df.name == 'Cyprus') & (df['2000'])]

,geo,name,1800,1801,1802,1803,1804,1805,1806,1807,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
42,cyp,Cyprus,184392,184412,184432,184452,184472,184492,184512,184532,...,1314919.0,1310108.0,1305620.0,1301395.0,1297068.0,1292720.0,1288483.0,1284142.0,1279725.0,1275353.0

### Exercise 3g.
Define a DataFrame with only countries that had population over 1M people in 2015

In [27]:
df.loc[(df['2015'] > 1000000)]

,geo,name,1800,1801,1802,1803,1804,1805,1806,1807,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
0,afg,Afghanistan,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3280000,...,124110001.0,124854162.0,125589411.0,126306889.0,126990147.0,127647762.0,128305496.0,128964762.0,129616118.0,130216739.0
1,ago,Angola,1567028,1567028,1567028,1567028,1567028,1567028,1567028,1567028,...,138919849.0,140249378.0,141550054.0,142835147.0,144102524.0,145340832.0,146549586.0,147743369.0,148912810.0,150045574.0
2,alb,Albania,400000,401773,403554,405343,407140,408945,410758,412579,...,1344055.0,1324192.0,1304876.0,1286145.0,1268008.0,1250429.0,1233362.0,1216785.0,1200681.0,1184997.0
4,are,UAE,40153,40153,40153,40153,40153,40153,40153,40153,...,24075187.0,24298127.0,24521988.0,24747048.0,24973506.0,25201603.0,25431504.0,25663508.0,25897696.0,26134299.0
5,arg,Argentina,534000,519565,505520,491855,478559,465622,453035,440789,...,40959933.0,40662490.0,40363219.0,40062943.0,39761859.0,39460124.0,39158399.0,38857022.0,38556118.0,38255990.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,vnm,Vietnam,4000000,4099892,4202278,4307221,4414785,4525034,4638038,4753863,...,95946917.0,95490327.0,95033602.0,94576334.0,94117721.0,93650413.0,93176207.0,92694015.0,92201784.0,91705108.0
191,yem,Yemen,2593000,2593000,2593000,2593000,2593000,2593000,2593000,2593000,...,106510730.0,106998027.0,107459605.0,107895476.0,108308131.0,108699429.0,109068203.0,109414685.0,109738709.0,110035634.0
192,zaf,South Africa,1447911,1453209,1458526,1463862,1469219,1474594,1479989,1485404,...,92399701.0,92635394.0,92860583.0,93085412.0,93300481.0,93502148.0,93695466.0,93893514.0,94101365.0,94314448.0
193,zmb,Zambia,747000,758402,769979,781732,793665,805780,818080,830567,...,61098687.0,61512696.0,61915359.0,62311179.0,62698035.0,63070548.0,63434684.0,63791046.0,64136921.0,64473916.0
194,zwe,Zimbabwe,1085814,1085814,1085814,1085814,1085814,1085814,1085814,1085814,...,36284409.0,36405082.0,36516149.0,36625729.0,36739734.0,36840486.0,36932287.0,37019886.0,37096560.0,37166572.0

### Exercise 3h.
Select every second country.

In [28]:
df[df.index % 2 == 0]

,geo,name,1800,1801,1802,1803,1804,1805,1806,1807,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
0,afg,Afghanistan,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3280000,...,124110001.0,124854162.0,125589411.0,126306889.0,126990147.0,127647762.0,128305496.0,128964762.0,129616118.0,130216739.0
2,alb,Albania,400000,401773,403554,405343,407140,408945,410758,412579,...,1344055.0,1324192.0,1304876.0,1286145.0,1268008.0,1250429.0,1233362.0,1216785.0,1200681.0,1184997.0
4,are,UAE,40153,40153,40153,40153,40153,40153,40153,40153,...,24075187.0,24298127.0,24521988.0,24747048.0,24973506.0,25201603.0,25431504.0,25663508.0,25897696.0,26134299.0
6,arm,Armenia,413326,413326,413326,413326,413326,413326,413326,413326,...,1803138.0,1790311.0,1777677.0,1765143.0,1752811.0,1740658.0,1728533.0,1716394.0,1704282.0,1692198.0
8,aus,Australia,200000,205195,210524,215992,221602,227357,233263,239321,...,41111420.0,41344709.0,41574723.0,41797144.0,42016474.0,42243353.0,42477126.0,42706735.0,42926634.0,43143685.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,vct,St. Vincent and the Grenadines,25781,25781,25781,25781,25781,25781,25781,25781,...,68677.0,68177.0,67677.0,67174.0,66673.0,66179.0,65684.0,65189.0,64701.0,64218.0
188,vnm,Vietnam,4000000,4099892,4202278,4307221,4414785,4525034,4638038,4753863,...,95946917.0,95490327.0,95033602.0,94576334.0,94117721.0,93650413.0,93176207.0,92694015.0,92201784.0,91705108.0
190,wsm,Samoa,47300,47292,47284,47276,47268,47260,47252,47244,...,370240.0,371993.0,373663.0,375252.0,376788.0,378279.0,379683.0,381010.0,382317.0,383557.0
192,zaf,South Africa,1447911,1453209,1458526,1463862,1469219,1474594,1479989,1485404,...,92399701.0,92635394.0,92860583.0,93085412.0,93300481.0,93502148.0,93695466.0,93893514.0,94101365.0,94314448.0
194,zwe,Zimbabwe,1085814,1085814,1085814,1085814,1085814,1085814,1085814,1085814,...,36284409.0,36405082.0,36516149.0,36625729.0,36739734.0,36840486.0,36932287.0,37019886.0,37096560.0,37166572.0

### Exercise 4 / EXTRA
Find and fix bugs.

In [32]:
lesson_parts = ['Recap',
                'Homework',
                'CSV Module',
                'Exercises',
                'Break',
                'Libraries: Introduction to Pandas',
                'Pandas exercises',
                'Other libraries & homework']
time = [10, 20, 10, 20, 5, 15, 25, 15]

df = pd.DataFrame({'lesson_parts': lesson_parts,
                   'time': time
                   })

print(df.sort_values(by='lesson_parts', ascending=False))

print("\ntotal participants:", df.sum())

                        lesson_parts  time
0                              Recap    10
6                   Pandas exercises    25
7         Other libraries & homework    15
5  Libraries: Introduction to Pandas    15
1                           Homework    20
3                          Exercises    20
2                         CSV Module    10
4                              Break     5

total participants: lesson_parts    RecapHomeworkCSV ModuleExercisesBreakLibraries...
time                                                          120
dtype: object

Exercise 5 / LONG TERM EXTRA

Copy 100-pandas-puzzles.ipynb from this repo:
https://github.com/ajcr/100-pandas-puzzles

Practice, practice, practice...